
rdkit==2023.9.6
celery==5.4.0 
celery-progress==0.3
chembl_webresource_client==0.10.9
chembl_structure_pipeline==1.2.2
Django==5.0.6
django-celery-model==0.2.1
django-celery-results==2.5.1
django-polymorphic==3.1.0
djangorestframework==3.15.1
drf-yasg==1.21.7
dj-rest-auth==6.0.0
django-allauth==0.63.3
django-cors-headers==4.3.1
# git+https://github.com/CDDLeiden/DrugEx.git@v3.1.0#egg=drugex no needed just for this update
# or here is the drugex with qsprpred if needed 
git+https://github.com/CDDLeiden/DrugEx.git@master
redis==5.0.5
requests==2.32.3
scikit-learn==1.5.0
joblib==1.4.2
pandas==2.2.2
psycopg2-binary==2.9.9
git+https://github.com/rdkit/django-rdkit.git  # Direct installation from GitHub
opentsne==1.0.1
gunicorn==22.0.0
nvgpu==0.10.0
drf-extensions==0.7.1
umap-learn==0.5.6
threadpoolctl==3.5.0
numpy==1.26.4